@use '../util' as *;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: var(--ff-sans);
  font-weight: 400;
  font-style: normal;
  font-size: var(--fs-reg);
  line-height: rem(26);
  position: relative;

  @include breakpoint(medium) {
    //
  }
}

html,
body {
  margin: 0px auto;
  width: 100%;
  box-sizing: border-box;
  background: var(--clr-white);
  color: var(--clr-dark-gray);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

img {
  display: block;
}

/* 
  CSS tips...
  https://medium.com/@creativebyte/10-lesser-known-css-tricks-part-2-37614754108e
  Gradient Borders
  .element {
    border: 2px solid transparent;
    background-clip: padding-box;
    background-image: linear-gradient(to right, red, blue);
  }


  Reading...
  https://itnext.io/multitask-like-a-pro-with-the-wip-commit-2f4d40ca0192
  https://medium.com/@adarshrai3011/53-javascript-frontend-interview-questions-e6013116eaa0
  
*/
