@use '../util' as *;

// Typescale = 1.250 - Major Third
// https://typescale.com/
h2 {
  font-size: var(--fs-xxl);
  font-style: normal;
  font-weight: 500;
  line-height: rem(36); /* 112.5% */
}

p {
  font-size: var(--fs-small);
  font-style: normal;
  font-weight: 400;
  line-height: rem(25);
}
