@use '../util' as *;

.btn {
  display: inline-flex;
  height: rem(56);
  border-radius: rem(8);
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  width: rem(152);
  text-decoration: none;
  line-height: 100%;
  letter-spacing: 1px;
  transition: var(--transition);

  &__light {
    background: var(--clr-light-gray);
    color: var(--clr-dark-gray);

    &:hover {
      background: var(--clr-light-primary);
      color: var(--clr-white);
    }
  }

  &__dark {
    background: var(--clr-primary);
    color: var(--clr-white);

    &:hover {
      background: var(--clr-light-primary);
    }
  }
}
