@use '../util' as *;

.footer {
  position: relative;
  @include flex(column, center, center);
  gap: rem(40);
  text-align: center;

  &__logo {
    display: flex;
    justify-content: center;

    gap: rem(16);
    padding-bottom: rem(32);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .cta__contact {
    margin-inline: rem(24);
    @include flex(column, center, center);
    padding: rem(24);
    // position: absolute;
    // top: rem(-190);
    // left: 0;
    height: rem(379);
    border-radius: rem(15);
    background-color: var(--clr-primary);
    color: var(--clr-white);

    h2 {
      font-size: rem(32);
      font-style: normal;
      font-weight: 500;
      line-height: rem(36); /* 112.5% */
    }
    p {
      font-size: rem(15);
      font-style: normal;
      font-weight: 400;
      line-height: rem(25); /* 166.667% */
      margin-bottom: rem(32);
    }
  }

  &__body {
    @include flex(column, center, center);
    gap: rem(40);
    background: var(--clr-black);
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: rem(80) rem(24) rem(64);
    width: 100%;
  }

  //
  //
  //
  //
  &__about {
    @include flex(column, stretch, center);
    gap: rem(32);
    width: 100%;

    a {
      color: var(--clr-white);
      text-decoration: none;
      font-size: rem(14);
      font-style: normal;
      font-weight: 400;
      line-height: rem(14); /* 100% */
      letter-spacing: rem(2);
      text-transform: uppercase;
    }
  }
  address {
    font-style: normal;
  }

  &__social {
    @include flex(row, center, center);
    gap: rem(16);

    img {
      display: block;
    }
  }
}
