@use '../util' as *;

.footer {
  position: relative;
  background: var(--clr-black);
  color: rgba(255, 255, 255, 0.5);
  padding: rem(65) rem(24);
  line-height: rem(26);

  address {
    font-style: normal;
  }

  img {
    display: block;
  }

  &__nav {
    display: flex;
    flex-direction: column;
    text-align: center;

    img {
      margin: auto;
    }

    .navbar ul {
      flex-direction: column;

      li a {
        color: var(--clr-white);
        position: relative;
        line-height: rem(14);

        &::after {
          content: '';
          position: absolute;
          bottom: -2px;
          left: 0;
          border-bottom: 1px solid var(--clr-white);
          width: 0;
          transition: var(--transition);
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
  }

  &__logo {
    padding-bottom: rem(32);
    margin-bottom: rem(32);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  &__content {
    @include flex(column, stretch, center);
    margin-top: rem(40);
    text-align: center;
    gap: rem(32);

    h2 {
      font-size: var(--fs-reg);
      font-weight: 700;
      line-height: inherit;
    }
  }

  &__social {
    @include flex(row, center, center);
    gap: rem(16);

    svg {
      fill: var(--clr-primary);
      transition: var(--transition);

      &:hover {
        fill: var(--clr-light-primary);
      }
    }

    a {
      text-decoration: none;
    }
  }

  @include breakpoint(medium) {
    padding: rem(80) rem(39);

    &__nav {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: rem(40);
      padding-bottom: rem(40);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      .navbar ul {
        flex-direction: row;
      }
    }

    &__logo {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }

    &__content {
      text-align: left;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;
    }
  }

  @include breakpoint(large) {
    &__nav,
    &__content {
      max-width: rem(1110);
      margin: auto;
    }

    &__nav {
      margin-bottom: rem(32);
    }

    &__content {
      justify-content: flex-start;
    }
  }

  &__social {
    margin-left: auto;
  }
}

.cta {
  position: absolute;
  top: rem(-180);
  padding: rem(64) rem(24);
  margin: 0 rem(24);
  text-align: center;
  background-color: var(--clr-primary);
  overflow: hidden;
  border-radius: rem(15);
  color: var(--clr-white);

  &__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
