@use '../util' as *;

.footer {
  padding: rem(253) 0 rem(64);
  background-color: var(--clr-black);
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  margin-top: rem(190);

  &.contact {
    padding-top: rem(64);
    margin-top: 0;

    .cta {
      display: none;
    }
  }

  &__nav {
    @include flex(column, center, center);
    text-align: center;

    .navbar ul {
      margin-top: rem(32);
      flex-direction: column;

      li a {
        color: var(--clr-white);
      }
    }

    &--logo {
      margin: 0 rem(24);
      padding-bottom: rem(32);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      img {
        display: block;
        margin: auto;
      }
    }
  }

  &__content {
    margin-top: rem(40);
    text-align: center;
    font-weight: 400;

    h2 {
      font-size: var(--fs-reg);
    }

    &--info {
      margin-top: rem(40);
    }
  }

  &__social {
    @include flex(row, center, center);
    gap: rem(16);
    margin-top: rem(40);

    svg {
      fill: var(--clr-primary);
      transition: var(--transition);

      &:hover {
        fill: var(--clr-light-primary);
      }
    }
  }

  @include breakpoint(medium) {
    padding: rem(166) 0 rem(80);
    margin-top: rem(264);

    &.contact {
      padding-top: rem(90);
    }

    &__nav {
      flex-direction: row;
      justify-content: space-between;
      margin-inline: rem(40);
      padding-bottom: rem(40);
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      &--logo {
        margin: 0;
        padding-bottom: 0;
        border-bottom: none;
      }

      .navbar ul {
        flex-direction: row;
        align-items: center;
        margin-top: 0;
      }
    }

    &__content {
      @include flex(row, flex-end, space-between);
      margin: rem(32) rem(40) 0;
      text-align: left;

      &--info {
        margin-top: 0;
      }
    }

    &__social {
      margin-top: 0;
    }
  }

  @include breakpoint(large) {
    padding: rem(144) 0 rem(72);
    margin-top: rem(220);

    &.contact {
      padding-top: rem(72);
    }

    &__nav {
      max-width: rem(1110);
      margin: 0 auto;
    }

    &__content {
      max-width: rem(1110);
      margin: rem(31) auto 0;
      justify-content: flex-start;
      gap: rem(210);
    }

    &__social {
      margin-left: auto;
    }
  }
}

.cta {
  @include flex(column, center, center);
  gap: rem(32);
  position: absolute;
  top: rem(-190);
  padding: rem(64) rem(24);
  border-radius: rem(15);
  margin: 0 rem(24);
  height: rem(379);
  text-align: center;
  background-color: var(--clr-primary);
  overflow: hidden;
  color: var(--clr-white);

  &__body {
    position: relative;
    z-index: 1;

    h2 {
      font-size: rem(32);
      font-weight: 500;
      line-height: rem(36);
      margin-bottom: rem(8);
    }
  }

  .btn {
    z-index: 1;
  }

  &__bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include breakpoint(medium) {
    top: rem(-264);
    margin: 0 rem(40);
    height: rem(350);

    &__body {
      h2 {
        margin-bottom: rem(16);
        line-height: rem(40);
        font-size: rem(40);
      }

      p {
        margin-inline: rem(80);
      }
    }
  }

  @include breakpoint(large) {
    flex-direction: row;
    justify-content: space-between;
    top: rem(-220);
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    height: rem(292);
    max-width: rem(1110);
    min-width: rem(1000);
    width: 100%;
    text-align: left;
    padding: rem(72) rem(95) rem(46);

    &__body {
      width: 50%;
      max-width: rem(450);
      p {
        margin: 0;
      }
    }

    &__bg {
      left: unset;
      right: 0;
      transform: translate(0%, -50%);
    }
  }
}
