@use '../util' as *;

.header {
  @include flex(row, center, space-between);
  margin: auto;
  height: rem(96);
  padding-inline: rem(24);
  max-width: rem(1111);
  font-family: inherit;

  &__logo {
    display: flex;
    gap: rem(16);
  }

  .navbar {
    display: none;
  }

  @include breakpoint(medium) {
    height: rem(155);
    padding-inline: 0;

    .navbar {
      display: block;
    }
  }
}
