@use '../util' as *;

.header {
  @include flex(column, flex-start, center);
  height: rem(96);
  padding-inline: rem(24);
  max-width: rem(1111);

  &__logo {
    display: flex;
    gap: rem(16);
  }

  @include breakpoint(medium) {
    padding-inline: rem(40);
  }
}
