@use '../util' as *;

.about {
  .hero {
    text-align: center;
    overflow: hidden;

    .section__content {
      background-image: url('/assets/about/mobile/bg-pattern-hero-about-mobile.svg');
      background-position: right rem(-135);
      background-repeat: no-repeat;
    }
  }

  .section {
    &__talent {
      text-align: center;
      h2 {
        color: var(--clr-primary);
        font-size: rem(32);
        font-style: normal;
        font-weight: 500;
        line-height: rem(36); /* 112.5% */
      }
      .section__content {
        background: hsla(11, 100%, 80%, 0.2)
          url('/assets/about/mobile/bg-pattern-hero-about-mobile.svg');
        background-position: top right;
      }
    }
  }
}
