@use '../util' as *;

.about {
  .hero {
    text-align: center;
    overflow: hidden;

    &__content {
      padding-bottom: rem(80);
      background-image: url('/assets/about/mobile/bg-pattern-hero-about-mobile.svg');
      background-position: right rem(-135);
      background-repeat: no-repeat;
    }
  }
}

.section {
  &__talent {
    text-align: center;
    h2 {
      color: var(--clr-primary);
      font-size: rem(32);
      font-style: normal;
      font-weight: 500;
      line-height: rem(36); /* 112.5% */
    }
    &--content {
      @include flex(column, center, center);
      gap: rem(24);
      padding: rem(80) rem(24);
      overflow: hidden;
      background: hsla(11, 100%, 80%, 0.2)
        url('/assets/about/mobile/bg-pattern-hero-about-mobile.svg');
      background-position: top right;
      font-size: rem(15);
      font-style: normal;
      font-weight: 400;
      line-height: rem(25); /* 166.667% */
    }
  }
}
