@use '../util' as *;

.section {
  &__locations {
    @include flex(column, center, center);
    gap: rem(48);
    text-align: center;
    padding: rem(80) rem(24);

    .location {
      @include flex(column, center, center);
      gap: rem(48);

      h2 {
        font-size: var(--fs-title-sm);
        font-style: normal;
        font-weight: 500;
        line-height: rem(26); /* 130% */
        letter-spacing: rem(5);
        text-transform: uppercase;
      }
    }
  }
}
