@use '../util' as *;

.container {
  position: relative;

  @include breakpoint(medium) {
    padding-inline: rem(40);
  }

  @include breakpoint(large) {
    padding-inline: 0;

    section {
      position: relative;
      z-index: 1;
    }
  }
}
