@use '../util' as *;

.hero {
  @include flex(column, center, center);
  background: var(--clr-primary);
  color: var(--clr-white);
  text-align: center;
  position: relative;
  overflow: hidden;
  background-image: url(../../../public/assets/shared/mobile/bg-pattern-design-pages-intro-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  height: rem(320);
  padding-inline: rem(25);
  &__body {
    max-width: rem(350);
    h2 {
      margin-bottom: rem(24);
    }
  }

  @include breakpoint(medium) {
    border-radius: rem(15);
    height: rem(252);
  }

  @include breakpoint(large) {
    &__body {
      max-width: rem(390);
    }
  }
}
