@use '../util' as *;

.section {
  padding: rem(120) rem(24) 0;

  &__design {
    display: grid;
    gap: rem(24);
  }

  &__about {
    @include flex(column, center, center);
    gap: rem(80);
    padding-block: rem(120);
    text-align: center;

    h2 {
      font-size: var(--fs-title-sm);
      font-style: normal;
      font-weight: 500;
      line-height: rem(26); /* 130% */
      letter-spacing: rem(5);
      text-transform: uppercase;
      margin-bottom: rem(32);
    }

    p {
      font-size: var(--fs-reg);
      font-style: normal;
      font-weight: 400;
    }

    &--item {
      @include flex(column, center, center);
      gap: rem(48);
    }
  }

  // First media query
  @include breakpoint(medium) {
    padding-inline: 0;
    &__about {
      gap: rem(32);
      &--item {
        flex-direction: row;
        gap: rem(40);
      }

      &--body {
        text-align: left;
      }

      .section__content {
        h2 {
          margin-bottom: rem(10);
        }
      }
    }
  }

  @include breakpoint(large) {
    padding: rem(160) 0 0;

    &__design {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-column-gap: rem(30);
      grid-row-gap: rem(24);
    }

    &__about {
      flex-direction: row;
      padding-bottom: rem(160);
      gap: rem(50);

      &--item {
        flex-direction: column;

        h2 {
          margin-bottom: rem(32);
        }
      }
      &--body {
        text-align: center;
      }
    }
  }
}
