@use '../util' as *;

.section {
  &__hero {
    background: var(--clr-primary);
    color: var(--clr-white);
    text-align: center;
    max-height: rem(843);
    overflow: hidden;

    img {
      display: block;
      margin: rem(-119) auto;
      height: auto;
      width: rem(375);
    }
  }

  &__content {
    @include flex(column, center, center);
    gap: rem(24);
    padding: rem(120) rem(24);
    overflow: hidden;
    background-position: top right;

    &--hero {
      position: relative;
      padding-block: rem(80);
      z-index: 2;
    }
  }

  &__design {
    display: grid;
    gap: rem(24);
    padding: rem(120) rem(24) 0;

    &--item {
      @include flex(column, center, center);
      gap: rem(12);
      height: 100%;
      width: 100%;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      color: var(--clr-white);
      background-size: cover;
      background-repeat: no-repeat;
      background-color: var(--clr-black);
      height: rem(250);
      width: 100%;
      border-radius: rem(15);
      overflow: hidden;

      h2 {
        letter-spacing: rem(1.4);
        text-transform: uppercase;
      }

      a {
        letter-spacing: rem(5);
        text-transform: uppercase;
        color: var(--clr-white);
        text-decoration: none;

        img {
          display: inline-block;
          margin-left: rem(16);
        }
      }
      &.web {
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url('/assets/home/mobile/image-web-design.jpg');
        color: var(--clr-white);
      }
      &.app {
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url('/assets/home/mobile/image-app-design.jpg');
        color: var(--clr-white);
      }
      &.graphic {
        background-image: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)
          ),
          url('/assets/home/mobile/image-graphic-design.jpg');
        color: var(--clr-white);
      }
    }
  }

  &__about {
    .section__content {
      text-align: center;

      .icon__container {
        margin-bottom: rem(48);
      }

      h2 {
        font-size: var(--fs-title-sm);
        font-style: normal;
        font-weight: 500;
        line-height: rem(26); /* 130% */
        letter-spacing: rem(5);
        text-transform: uppercase;
        margin-bottom: rem(32);
      }

      p {
        font-size: var(--fs-reg);
        font-style: normal;
        font-weight: 400;
        line-height: rem(26); /* 162.5% */
      }
    }
  }

  // First media query
  @include breakpoint(medium) {
    &__hero {
      border-radius: rem(15);

      p {
        padding-inline: rem(70);
      }
    }

    &__content {
      padding: rem(60);
    }
  }
}
