@use '../util' as *;

:root {
  // Colors
  --clr-primary: hsl(11, 73%, 66%);
  --clr-light-primary: hsl(11, 100%, 80%);
  --clr-dark-gray: hsl(264, 5%, 20%);
  --clr-light-gray: hsl(210, 17%, 95%);
  --clr-black: hsl(270, 3%, 11%);
  --clr-white: #fff;

  --gradient-start: hsla(0, 96%, 19%, 0.1);
  --gradient-end: hsla(0, 96%, 19%, 0.5);

  // Font-family
  --ff-sans: 'Jost', Arial, Helvetica, sans-serif;
  --ff-spartan: 'League Spartan', Arial, Helvetica, sans-serif;
  --ff-mono: 'Source Code Pro', monospace;
  --ff-serif: Cambria, Cochin, Georgia, serif;

  // Font-sizes - Mobile
  --fs-xxl: #{rem(32)};
  --fs-xl: #{rem(28)};
  --fs-large: #{rem(24)};
  --fs-med: #{rem(20)};
  --fs-reg: #{rem(16)};
  --fs-small: #{rem(15)};
  --fs-xsmall: #{rem(14)};

  // Flexbox gap/columns
  --gap: #{rem(20)};
  --columns: 2;

  --transition: all 0.25s ease-in-out;
}
